* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    flex-wrap: wrap;
}

.bild {
    display: flex;
    margin: 1%;
    padding: ;
}

.other-column {
    display: flex;
    flex-flow: wrap;
    width: fit-content;
    padding: 2%;
    margin: 1%;
    border-style: groove;
    color: black;
    background: rgb(228, 17, 17);
}

.two-column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    text-decoration: none;
    background-color: black;
    color: white;
    height: 20px;
    width: auto;
}

header {
    position: sticky;
    top: 0;
    background: rgb(228, 17, 17);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;

}
.navigation{
background: black;
height: 20px;
}

.info-text {
    color: black;
    display: flex;
    width: 45%;
    padding: 8%;
    flex-wrap: wrap;
    margin: auto;
    background-color: white;
    margin-bottom: 5%;
    margin-top: 5%;
}

.text {
    color: white;
    padding: 1%;
    margin: auto;
}

.happyman {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1%;
    height: 500px;

}
    
