* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}



.other-column {
    display: flex;
    flex-flow: wrap;
    width: fit-content;
    padding: 2%;
    margin: 1%;
    border-style: groove;
    color: black;
    background: rgb(228, 17, 17);
}

.two-column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    margin: 1%; 
}

.nav-button {
    text-decoration: none;
    background-color: black;
    color: white;
    height: 20px;
    width: auto;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    background: black;
    height: 20px;
    gap: 5%
}

header {
    position: sticky;
    top: 0;
    background: rgb(228, 17, 17);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Montagu Slab', serif;
    padding: 2%;
    width: 100%;
    color: black;
}

.info-text {
    color: black;
    display: flex;
    width: 45%;
    padding: 5%;
    flex-wrap: wrap;
    margin: auto;
    background-color: white;
    margin-bottom: 5%;
    margin-top: 1%;
    font-family: 'Lato', sans-serif;
}

.text {
    color: white;
    padding: 1%;
    margin: auto;
}

.album {
    color: white;
    padding: 3%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.album img {
    width: 33%;
    background-color: red;
    border: ridge;
}

.history-text{
    margin: 15%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: rgb(228, 222, 222);
}

.early-works{
    color: white;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    font-size: 30px;
    font-family: 'Lato', sans-serif; 
}

.two-column-container img {
    width: auto;
}

.history-text p {
    padding: 3%;
}